<!DOCTYPE html>
   <head>
      <title>Etch-a-sketch Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<br>
		<h3> Commands </h3>
			<a href="/up" class="button">UP</a>  
			<a href="/down"class="button">DOWN</a>
			<a href="/left"class="button">LEFT</a>
			<a href="/right"class="button">RIGHT</a>
			<br>
			<br>
			<a href="/clear"class="button">CLEAR</a>
			<br>
			<br>
			<a href="/green"class="button">GREEN</a>
			<a href="/red"class="button">RED</a>
			<a href="/yellow"class="button">YELLOW</a>
   </body>
</html>

